.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .pagination button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  