<div>
  <app-nav-bar />
  <div [ngClass]="'main'">
    <div [ngClass]="'form'">
      <div [ngClass]="'form-title'">
        <h2>Bug Bounty</h2>
      </div>
      <div [ngClass]="'form-body'">
        <div [ngClass]="'tab-title'">Login</div>
        <div [ngClass]="'tab-body'">
          <div
            class="error"
            [style.visibility]="hasError ? 'visible' : 'hidden'"
          >
            Invalid username or password
          </div>
          <div [ngClass]="'tab-content'">
            <app-input-bar
              label="Username"
              (valueChange)="OnUsernameChange($event)"
              [hasError]="hasError"
              [(ngModel)]="username"
            />
            <app-input-bar
              label="Password"
              type="password"
              (valueChange)="OnPasswordChange($event)"
              [hasError]="hasError"
              [(ngModel)]="password"
            />
          </div>
        <div [ngClass]="'tab-buttons'">
          <app-button (onClicked)="goToSignUp($event)">Sign Up</app-button>
          <app-button type="primary" (onClicked)="OnClickLogin($event)">
            Login
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
