<app-sidebar-layout activeSection="Bug Marketplace">
    <div class="solution-review-container">
        <h2 class="title">Review Solution</h2>
        @if (errorMessage) {
            <app-alert
                type="danger"
                [message]="errorMessage"
                (close)="errorMessage = ''"
                ></app-alert>
        }
        @if (successMessage) {
            <app-alert
                type="success"
                [message]="successMessage"
                (close)="successMessage = ''"
                ></app-alert>

        }
        @if (isLoading) {
            <app-loader
            [isLoading]="true"
            message="Loading solution...">
        </app-loader>
        } @else if (!isLoading && !isPublisher && !isClaimer) {
            <h3 class="not-allowed">You are not allowed to view this page</h3>
        }
        @else {
            <!-- General Solution details -->
            <div class="solution-info">
                <div class="status" [ngClass]="'status-' + solution.status.toLowerCase()">{{solution.status}}</div>
                <h3>Bug: {{solution.bug.title}}</h3> 
                <h4>Solution:</h4>
                <p>Decription: {{solution.description}}</p>
            @if (solution.codeLink) {
                <p>Code Link: <a [href]="solution.codeLink">{{solution.codeLink}}</a></p>
            } @else {
                <app-button 
                    type="primary"
                    [isLoading]="isDownloading"
                    [disabled]="isDownloading"
                    (onClicked)="downloadSolutionFile()"
                >Download file</app-button>
            }
            </div>
            <div class="solution-actions">
            <!-- If company, then actions -->
            @if (isPublisher && ["REJECTED", "ACCEPTED"].indexOf(solution.status) == -1) {
                <div class="actions">
                    <app-button
                        type="primary"
                        [isLoading]="isSendingAccept"
                        [disabled]="isSendingAccept"
                        (onClicked)="sendAcceptSolution()"
                    >Accept Solution</app-button>
                    <app-button
                        type="primary"
                        [isLoading]="isSendingRefuse"
                        [disabled]="isSendingRefuse"
                        (onClicked)="sendRefuseSolution()"
                    >Refuse Solution</app-button>
                    <app-button
                        type="primary"
                        (onClicked)="sendFeedback()"
                    >Send Feedback</app-button>

                </div>
            }

            </div>
        <div class="feedbacks-container">
            <h3>Feedbacks:</h3>
            @if (isLoadingFeedbacks) {
            <app-loader
            [isLoading]="true"
            message="Loading feedbacks...">
                </app-loader>
            } @else {
            @if (feedbacks.length == 0) {
                <h3>No feedbacks yet</h3>
            } @else {
                @for (feedback of feedbacks; track feedback.id) {
                    <div class="feedback-container">
                        <p>Feedback: {{feedback.feedbackText}}</p>
                        <p>Rating: {{feedback.rating}}</p>
                    </div>
                    }
                }
            }
        </div>
        }
    </div>
</app-sidebar-layout>